strong.specColor {
  color: #33CBD6;
}

hr.ey {
  border-bottom: 3px solid;
  max-width: 250px;
  color: #33CBD6;
}

#go {
  width: auto;
  height: auto;
  background-color: #33CBD6;
  border-width: 3;
  border-style: outset;
  border-radius: 15px;
  font-family: Arial;
  cursor: pointer;
}
